<h2>Real time products</h2>
<hr />
<form id="createForm">
  <div class="m-2">Title:<input type="text" id="title"></div>
  <div class="m-2">Description:<input type="text" id="description"></div>
  <div class="m-2">Price:<input type="text" id="price"></div>
  <div class="m-2">Thumbnail:<input type="text" id="thumbnail"></div>
  <div class="m-2">Code:<input type="text" id="code"></div>
  <div class="m-2">Stock:<input type="text" id="stock"></div>

</form>
<button id="createBtn" class="btn btn-primary">Create Product</button>
<hr />

<table id="productsTable" class="table table-striped">
  <thead>
    <td></td>
    <td><strong>Producto</strong></td>
    <td><strong>Descripción</strong></td>
    <td><strong>Precio</strong></td>
    <td><strong>Código</strong></td>
    <td><strong>Stock</strong></td>
  </thead>
  <tbody>
  {{#each products}}
    <tr>
      <td><button class="btn btn-danger" onclick='deleteProduct("{{this.id}}")'>Eliminar</button></td> 
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
